<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="labels">
    <p>質問したい教科を選択してください</p>
    <label><%= f.radio_button :subject, "1" %>英語</label>
    <label><%= f.radio_button :subject, "2" %>数学</label>
    <label><%= f.radio_button :subject, "3" %>物理</label>
    <label><%= f.radio_button :subject, "4" %>化学</label>
    </div>
    <div class="field">
      <%= f.text_area :content, placeholder: "新しく投稿する..." %>
    </div>
    <%= f.submit "投稿する", class: "btn btn-primary" %>
    <span class="picture">
      <%= f.file_field :picture %>
    </span>
<% end %>

  <script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>