<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "プロフィールを見る", current_user %></span>
<span><%= "投稿数:#{current_user.microposts.count}" %></span>
<span style= "margin-left: 6rem;"><%= "回答数:#{current_user.answers.count}" %></span>