<%= form_for(@answer) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "回答を投稿する..." %>
    </div>
    <%= hidden_field_tag :micropost_id, params[:micropost_id] %>
    <%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>
